/* START mainTask.html */
body.mainTask {
  background-image: url("../images/bg3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p.mainTaskPra {
  color: rebeccapurple;
}

strong, b {
  font-weight: 900;
}

div.section1 {
  border: #92ffff 10px double;
  border-radius: 50px;
  padding: 0px 10px;
  background-image: url("../images/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* filter: brightness(150%); */
  color: #D6EEEE;
  /* opacity: 0.7; */
}

div.section2 {
  border: #cdff42 15px groove;
  border-radius: 50px;
  padding: 10px 20px;
  background-image: url("../images/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  color: #fff;
}

h1.section1, h2.section1, h3.section1, h4.section1, h5.section1, h6.section1 {
  border-radius: 30px;
  border-color: #8077fe;
  border-width: 10px;
}

h1.section1 {
  border-bottom-style: dotted;
}

h2.section1 {
  border-top-style: groove;
}

h3.section1 {
  border-left-style: solid;
  border-bottom-style: solid;
}

h4.section1 {
  border-top-style: inset;
  border-right-style: inset;
}

h5.section1 {
  border-left-style: outset;
  border-right-style: outset;
}

h6.section1 {
  border-style: ridge;
}

p#task9 {
  font-size: 50px;
  text-shadow: 10px 10px 10px black;
}

p#task9-40 {
  font-size: 35px;
  text-decoration: dashed;
}

p#task9-41 {
  font-size: 35px;
  text-decoration: dotted;
}

p#task9-42 {
  font-size: 35px;
  text-decoration: double;
}

p#task9-43 {
  font-size: 35px;
  text-decoration: line-through;
}

p#task9-44 {
  font-size: 35px;
  text-decoration: overline;
}

p#task9-45 {
  font-size: 35px;
  text-decoration: solid;
}

p#task9-46 {
  font-size: 35px;
  text-decoration: underline;
}

p#task9-47 {
  font-size: 35px;
  text-decoration: wavy;
}

p#task9-20 {
  font-size: 35px;
  line-height: 2.5;
}

p#task9-21 {
  font-size: 35px;
  letter-spacing: 8px;
}

p#task9-22 {
  font-size: 35px;
  letter-spacing: -5px;
}

p#task9-30 {
  font-size: 35px;
  word-spacing: 50px;
}

p#task9-31 {
  font-size: 35px;
  word-spacing: -50px;
}

p#task10-1 {
  font-size: 25px;
  line-height: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blue;
  color: white;
  width: fit-content;
}

p#task10-2 {
  font-size: 25px;
  font-family: Papyrus;
  font-weight: 900;
}

#task10-3 {
  background-color: rgb(158, 25, 47);
  padding: 20px 20px 20px 50px;
  /* list-style-position: outside; */
}

#task10-30 {
  background-color: pink;
  padding: 15px 0px;
  font-size: 25px;
}

#task10-31 {
  background-color: blue;
  padding: 15px 15px 15px 25px;
  /* list-style-position: inside; */
}

#task10-32 {
  background-color: #92ffff;
  margin: 8px;
  font-size: 25px;
}

table.task10-4 {
  /* border: none; */
  border-spacing: 0;
}

th.task10-40 {
  background-color: #4fae46;
  color: whitesmoke;
  font-weight: 700;
  font-size: 30px;
  padding: 8px 100px 8px 10px;
}

td.task10-41 {
  background-color: #7e7e7e;
  color: whitesmoke;
  font-size: 20px;
  padding: 5px;
}

i#mainTask {
  font-size: 35px;
  margin: 10px;
}

ul.task10-6 {
  list-style-image: url("../images/sqpurple.jpg");
}

ul.task10-70 {
  list-style-type: circle;
}

ul.task10-71 {
  list-style-type: square;
}

ul.task10-72 {
  list-style-type: decimal;
}

ul.task10-73 {
  list-style-type: upper-roman;
}

ul.task10-80 {
  list-style-position: outside;
}

li#task10-801 {
  border: solid 1px black;
  width: 100px;
}

ul.task10-81 {
  list-style-position: inside;
}

li#task10-811 {
  border: solid 1px black;
  width: 100px;
}

a.task10-90 {
  color: black;
}

a.task10-90:hover {
  color: rgb(123, 137, 123);
}

a.task10-91 {
  text-decoration: none;
  color: black;
}

a.task10-91:hover {
  text-decoration: underline;
  color: rgb(184, 198, 184);
}

a.task10-92 {
  border: solid 5px rgb(115, 123, 115);
  padding: 10px 15px;
  background-color: white;
  color: black;
  text-decoration: none;
}

a.task10-92:hover {
  background-color: green;
  color: white;
}

a.task10-93 {
  border: solid 5px rgb(111, 0, 0);
  background-color: red;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

a.task10-93:hover {
  color: rgb(219, 143, 143);
}

a.btn {
  background-color: #18255e;
  padding: 15px 20px;
  color: azure;
  border-radius: 25px;
  text-decoration-line: none;
  margin: 5px;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.btns {
  margin: 30px 10px 25px;
  display: flex;
  justify-content: center;
}

.lec17-task12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 10px solid transparent;
  border-image: url(../images/border-image-lines.png) 30 round;
}
.task12 {
  width: 100px;
  height: 80px;
  margin: 10px;
  background-color: violet;
  border:solid orange 3px;
}
.shape1 {
  border-radius: 5px;
}
.shape2 {
  border-radius: 30px;
}
.shape3 {
  border-radius: 50%;
}
.shape4 {
  border-radius: 20px 0px 20px 0px;
}
.shape5 {
  border-radius: 100% 0px 0px 0px;
}
.shape6 {
  border-radius: 20px;
}
.shape7 {
  border-radius: 90% 0px 90% 0px;
}
.shape8 {
  border-radius: 50% 50% 0px 0px;
}
.task12-1, .task12-2 {
  color: black;
  font-size: 28px;
  margin: 10px;
}
.task12-1::first-line, .task12-2::first-line {
  color: blue;
  font-size: 32px;
}
.task12-3 {
  display: block;
  font-size: 28px;
  color: black;
}
.task12-3::first-letter {
  font-size: 40px;
  text-transform: uppercase;
  color: red;
}
.lec17-task12-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  background-color: #c020ff;
  align-items: center;
  align-content: center;
}
img.task12FishImg1 {
  width: 100px;
  height: 50px;
  transform: scaleX(-1);
}
.task12-4 {
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  margin: 10px 5px;
  font-family: sans-serif;
}
img.task12FishImg2 {
  width: 100px;
  height: 50px;
}
.lec17-task12-2 {
  background-image: url(../images/sheep1.png) , url(../images/betweengrassandsky3.png);
  background-position: left bottom, left top;
  background-repeat: no-repeat, repeat;
  width: 50%;
  margin: auto;
  height: 400px;
  background-size: auto , cover;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.task13-1 {
  color: black;
  font-size: 32px;
}
.task13-1 p {
  padding: 5px 10px;
}
.task13-01 {
  font-family: "Roboto", sans-serif;
}
.task13-02 {
  font-family: "Zen Loop", cursive;
}
.task13-03 {
  font-family: "Montserrat", sans-serif;
}
.task13-04 {
  font-family: "Roboto", sans-serif;
}
.task13-05 {
  font-family: "Festive", cursive;
}
.task13-06 {
  font-family: "Roboto", sans-serif;
}
.task13-07 {
  font-family: "Zen Tokyo Zoo", system-ui;
}
.task13-08 {
  font-family: "Roboto", sans-serif;
}
.task13-09 {
  font-family: "Roboto", sans-serif;
}
.task13-10 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}
.task13-11 {
  font-family: "Roboto", sans-serif;
}
.task13-12 {
  font-family: "Roboto", sans-serif;
}
.task13-2 {
  width: 50%;
  height: 100px;
  background-image: linear-gradient(to bottom left, rgb(241, 109, 131), orange);
}
.task13-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.task13-3 .task13-01 {
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: red 0px -10px 15px;
}
.task13-3 .task13-02 {
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: red 10px 0px 15px;
}
.task13-3 .task13-03 {
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: red 0px 10px 15px;
}
.task13-3 .task13-04 {
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: red -10px 0px 15px;
}

.task13-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.task13-5 .task13-01 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: rotateX(45deg);
}
.task13-5 .task13-02 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: rotateY(45deg);
}
.task13-5 .task13-03 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: rotateZ(45deg);
}
.task13-5 .task13-04 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: translateX(30px);
}
.task13-5 .task13-05 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: translateY(30px);
}
.task13-5 .task13-06 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: translateZ(50px);
}
.task13-5 .task13-07 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: scaleX(1.5);
}
.task13-5 .task13-08 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: scaleY(1.5);
}
.task13-5 .task13-09 {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  transform: scaleZ(1.5);
}
.task13-6 {
  width: 150px;
  height: 150px;
  background-image: conic-gradient(red, yellow, green , red);
  border-radius: 50%;
  margin: auto;
}
.task13-7 {
  width: 250px;
  height: 150px;
  background-image: conic-gradient(red, yellow, green , blue);
  border-radius: 5px;
  margin: auto;
}

.task14 {
  background-color: #131d4b;
  height: 250px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task14-0 {
  width: 150px;
  height: 50px;
  padding: 20px 10px;
  margin: auto;
  background-color: blue;
  border-radius: 25px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  transition: all 1.5s ease-in-out;
}
.task14-0:hover {
  transform: translate(-20px, -35px);
  box-shadow: 10px 10px 8px cyan , -10px -10px 8px lightcyan;
  font-size: 32px;
  font-weight: 900;
  border-radius: 50%;
  background-image: radial-gradient(circle, red, yellow, green);
}
.task14-0:active {

}

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Aref+Ruqaa&display=swap');
.task15 {
  width: 100%;
  background-image:
      linear-gradient(to right, #00000080 30%, #000000),  url(../images/house.jpg);
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
/*  box-sizing: border-box;*/
}
.task15 .nav {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 50px;
  font-size: 30px;
}
.task15 .nav p {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 5px;
  background-color: rgb(127, 255, 212, .4);
  border-radius: 30px;
  border: solid rgb(127, 255, 212, .8) 1px;
  padding: 15px 20px;
}
.task15 .nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: nowrap row;
  position: relative;
  top: 0px;
  margin: 25px 20px;
  padding: 0 10px;
}
.task15 .nav ul li {
  margin: 0 20px;
  border: solid cyan 1px;
  background-color: #135dff70;
  border-radius: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.task15 .nav ul li:hover {
  background-color: #01022d30;
  font-size: 32px;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease-in;
  transform: translateY(-10px);
}
.task15 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task15 .content .title {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  word-spacing: 10px;
  margin-bottom: 15px;
}
.task15 .content .sub {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 10px;
  margin-bottom: 15px;
}
.task15 .content .buttons {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 10px;
  padding: 10px 15px;
}
.task15 .content .buttons a {
  text-decoration: none;
  border-radius: 30px;
    border: solid cyan 1px;
    padding: 15px;
}
.task15 .content .buttons a:hover {
  background-color: #0454ff50;
  font-size: 35px;
}

/* END mainTask.html */
/* ---------------------------------------------------------------------------------- */
/* START DraftApp.html */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#divDrop {
  width: 400px;
  height: 500px;
  border: 10px solid #0454ff;
}

#divDropImg {
  width: 200px;
  height: 150px;
}

.pic1, .pic2, .pic3 {
  max-width: 400px;
  max-height: 400px;
}

.liergradian {
  height: 400px;
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, cyan, violet 90%);
  width: 85%;
  margin: auto;
  border-radius: 80px 30% 50px 100%;
  border-color: antiquewhite;
  border-style: groove;
  box-shadow: 20px 20px 50px 15px grey;
}

.liergradian:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.radualgradian {
  height: 400px;
  background-image: radial-gradient(circle 300px, red, orange, yellow, green, blue, cyan, violet, white);
  width: 90%;
  margin: auto;
  border-radius: 50%;
}

.perantFloat {
  background-color: yellow;
}

.red, .green, .blue {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
  float: right;
  z-index: -2;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.boxShadow {
  direction: ltr;
  font-size: 35px;
  font-weight: 800;
  border: 5px solid white;
  outline: cyan solid 5px;
  outline-offset: 20px;
  box-shadow: 5px 7px 25px 7px blue;
  box-shadow: 5px 7px 15px wheat;
}

.transforms p, .transitions p {
  background-color: violet;
  padding: 25px 50px;
  border: 5px solid rgb(116, 116, 116);
  width: fit-content;
  margin: 50px auto 300px;
  font-size: 40px;
  font-weight: 700;
}

.transforms:hover {
  transition: 1s;
  /* transform: translate(150px, 150px);
  transform: rotate(45deg);
  transform: scale(3, 1.5);
  transform: skew(15deg, 15deg); */
  /* transform: matrix(3, 15deg, 15deg, 1.5, 150px, 150px); */
  transform: matrix(3, 0.5, 0.5, 1.5, 0, 150);
  /*scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()*/
  transform-style: preserve-3d;
}

.transitions {
  /* transition-duration: 1s;
   transform-origin: center;
  transition-property: all;
  transition-delay: 1s;
  transition-timing-function: ease-in-out; */
  transition: width 1s, height 2s, transform 3s;
}

.transitions:hover {
  width: 500px;
  height: 300px;
  transform: rotate(180deg);
}

.pesoElement::first-line {
  background-color: #8077fe;
  color: #92ffff;
}

.pesoElement::selection {
  background-color: #bbff001a;
  color: #4fae46;
}

.pesoElement::grammar-error {
  background-color: red;
}

.pesoElement::spelling-error {
  color: red;
}

.download {
  height: 65px;
  padding: 5px 2px;
  width: 210px;
  border: solid 3px wheat;
}
.loading {
  height: 50px;
  width: 10px;
  background-color: green;
  /* visibility: hidden; */
  /* transition: all 10s steps(20); */
  /* transition: width 10s steps(20) .5s; */
  /* transition: visibility 4s steps(20); */
  transition-property: all;
  transition-timing-function: steps(100);
  transition-duration:10s;
  transition-delay: .5s;
}

.loading:hover {
  /* visibility: visible; */
  width: 200px;
}

.animat {
  width: 578px;
  height: 278px;
  border: white 3px solid;
}
.animation {
  width: 75px;
  height: 75px;
  background-color: black;
  animation-name: trhal;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
@keyframes trhal {
  0% {
    background-color: red;
    translate: 0px 0px;
    rotate: 0deg;
  }
  17% {
    background-color: orange;
    translate: -500px 0px;
    rotate: 180deg;
  }
  35% {
    background-color: yellow;
    translate: -500px 200px;
    rotate: 270deg;
  }
  52% {
    background-color: green;
    translate: -0px 200px;
    rotate: 450deg;
  }
  70% {
    background-color: blue;
    translate: -500px 0px;
    rotate: 670deg;
  }
  87% {
    background-color: cyan;
    translate: -500px 200px;
    rotate: 760deg;
  }
  100% {
    background-color: violet;
    translate: 0px 0px;
    rotate: 930deg;
  }
}
.animation:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.perant {
  background-color: red;
  padding: 10px;
  width: 90%;
  height: 400px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  gap:15px;

  grid-template-areas:
  "head head head"
  "navi main side"
  "navi main side"
  "foot foot foot"
  ;
}
.perant div {
  background-color: yellowgreen;
  color: black;
}
/* .header , .footer{
  background-color: yellow;
  grid-column: 1/-1;
}
.nav, .main, .sidebar {
  background-color: yellowgreen;
  grid-row: 2/4;
} */
.header {
  grid-area: head;
}
.nav {
  grid-area: navi;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: side;
}
.footer {
  grid-area: foot;
}

.responsiveForm {
  background-color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-color: antiquewhite;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
form input {
   background-color: #92ffff;
   color: white;
   padding: 5px 10px;
   outline: none;
   flex-basis: 200px;
   flex-grow: 1;
}
form button {
  background-color: #8077fe;
  color: aliceblue;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  flex-basis: 30px;
  flex-grow: 1;
}

.adidas {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom left , white , black 80%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  direction: ltr;
}
.adidas::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  clip-path: circle(40% at right 70%);
  z-index: 1;
}
.adidasContainer {
  width: 80%;
  height: 80%;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}
.adidasContainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
.adidasContainer nav .logo {
  color: white;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
}
.adidasContainer nav ul li {
  display: inline-block;
  margin: 0 5px;
}
.adidasContainer nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.adidasContainer nav ul li a:hover {
  color: greenyellow;
}
.contentAdidas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.contentAdidas .textAdidas {
  color: white;
  width: 40%;
}
.contentAdidas .textAdidas h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.contentAdidas .textAdidas p {
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.contentAdidas .imageAdidas {
  width: 40%;
}
.contentAdidas .imageAdidas img {
  width: 400px;
}
@media (min-width: 950px) and (max-width: 1150px) {
  .contentAdidas .imageAdidas img {
    width: 330px;
  }
}
@media (max-width: 950px) and (min-width: 600px) {
  .contentAdidas , .adidasContainer nav {
    flex-direction: column;
    justify-content: center;
  }
  .contentAdidas .imageAdidas, .contentAdidas .textAdidas {
    width: 80%;
  }
  .adidas::after {
    clip-path: circle(50% at bottom);
  }
}

.Avatar {
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to right ,#01022d , black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatarContainer {
  width: 90%;
  height: 600px;
  background-image:
  linear-gradient(to right , #01022de5 30%,#00000088),
  url(../images/avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarContainer:hover {
  background-image:
  linear-gradient(to bottom , #01022de5 40%,transparent ),
  url(../images/avatar.jpg);
}
.avatarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.avatarHeader a {
  color: white;
  text-decoration: none;
}
.avatarLogo {
  font-size: 30px;
  text-transform: uppercase;
}
.avatarHeader ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.avatarHeader ul a {
  border-bottom: solid 2px transparent  ;
}
.avatarHeader ul a:hover {
  border-color: white;
}
.avatarContaint {
  width: 50%;
  color: white;
  margin-top: 50px;
  padding: 30px;
}
.avatarContaint h2 {
  font-size: 100px;
  text-transform: uppercase;
}
.avatarContaint p {
  letter-spacing: 3px;
  width: 300px;
  padding: 20px 0;
}
.avatarContaint button {
  font-size: 30px;
  padding: 6px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
.avatarContaint button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Spicy+Rice&display=swap');
.dashboard {
  background-color: black;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
}
.dashNav {
  width: 60px;
  padding: 10px;
  background-color: #000e2c;
  /* float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-overflow: clip; */
  overflow: hidden;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  transition: .5s;
}
.dashNav:hover {
  width: 260px;
  overflow: visible;
}
.dashNav .header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.dashNav ul {
  list-style-type: none;
  padding: 5px 2px;
  margin: 5px 2px;
  position: relative;
  height: 95%;
}
.dashNav ul li a {
  display: block;
  text-decoration: none;
  margin: 10px;
  padding: 15px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: .5s;
}
.dashNav ul li a:hover , .active , .content .items .item:hover, .content table td:hover{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
.log-out {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: red;
}
.dashNav ul li a i {
  font-size: 50px;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: white 3px solid;
  flex-shrink: 0;
}
.image img {
  width: 100%;
}
.profile{
  display: flex;
  align-items: center;
  gap: 30px;
}
.profile p {
  font-size: 22px;
  text-transform: capitalize;
}
.content {
  width: 100%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}
.content .heading {
  font-size: 28px;
  font-weight: 800;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #135dff;
  border-radius: 10px;
  margin: 10px 0;
}
.content .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.content .items .item {
  background-color: #123;
  height: 150px;
  flex-basis: 150px;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}
.content .items .item .data {
  text-align: center;
}
.content .items .item .data span {
  font-size: 30px;
}
.content table {
  width: 100%;
  text-align: center;
  border-spacing: 8px;
}
.content table td, .content table th {
  background-color: #123;
  height: 40px;
  border-radius: 10px;
}
.content table th {
  background-color: #135dff;
}
.price , .count {
  padding: 6px;
  border-radius: 6px;;
}
.price {
  background-color: green;
}
.count {
  background-color: rgb(152, 132, 22);
}









.brack {
  margin: 25px 0;
}
/*
1- element[attr = "value"]
2-[attr ^="value"] start with
2-[attr $="value"]end with
2-[attr *="value"]contain a value
2-[attr ~="value"]contain a word
2-[attr ="value" i]case sensitive
*/
@media print {

}
/* END DraftApp.html */
/* ---------------------------------------------------------------------------------- */
/* STATR taskIndex.html */
.taskImg {
  height: 150px;
  width: 150px;
}
.taskVid {
  height: 200px;
  width: 200px;
}
/* END taskIndex.html */
/* ---------------------------------------------------------------------------------- */
/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}*/
