/* mainTask.html */
body.mainTask {
  background-image: url("../images/bg3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p.mainTaskPra {
  color: rebeccapurple;
}

strong, b {
  font-weight: 900;
}

div.section1 {
  border: #92ffff 10px double;
  border-radius: 50px;
  padding: 0px 10px;
  background-image: url("../images/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* filter: brightness(150%); */
  color: #D6EEEE;
  /* opacity: 0.7; */
}

div.section2 {
  border: #cdff42 15px groove;
  border-radius: 50px;
  padding: 10px 20px;
  background-image: url("../images/bg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  color: #fff;
}

h1.section1, h2.section1, h3.section1, h4.section1, h5.section1, h6.section1 {
  border-radius: 30px;
  border-color: #8077fe;
  border-width: 10px;
}

h1.section1 {
  border-bottom-style: dotted;
}

h2.section1 {
  border-top-style: groove;
}

h3.section1 {
  border-left-style: solid;
  border-bottom-style: solid;
}

h4.section1 {
  border-top-style: inset;
  border-right-style: inset;
}

h5.section1 {
  border-left-style: outset;
  border-right-style: outset;
}

h6.section1 {
  border-style: ridge;
}

p#task9 {
  font-size: 50px;
  text-shadow: 10px 10px 10px black;
}

p#task9-40 {
  font-size: 35px;
  text-decoration: dashed;
}

p#task9-41 {
  font-size: 35px;
  text-decoration: dotted;
}

p#task9-42 {
  font-size: 35px;
  text-decoration: double;
}

p#task9-43 {
  font-size: 35px;
  text-decoration: line-through;
}

p#task9-44 {
  font-size: 35px;
  text-decoration: overline;
}

p#task9-45 {
  font-size: 35px;
  text-decoration: solid;
}

p#task9-46 {
  font-size: 35px;
  text-decoration: underline;
}

p#task9-47 {
  font-size: 35px;
  text-decoration: wavy;
}

p#task9-20 {
  font-size: 35px;
  line-height: 2.5;
}

p#task9-21 {
  font-size: 35px;
  letter-spacing: 8px;
}

p#task9-22 {
  font-size: 35px;
  letter-spacing: -5px;
}

p#task9-30 {
  font-size: 35px;
  word-spacing: 50px;
}

p#task9-31 {
  font-size: 35px;
  word-spacing: -50px;
}

p#task10-1 {
  font-size: 25px;
  line-height: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blue;
  color: white;
  width: fit-content;
}

p#task10-2 {
  font-size: 25px;
  font-family: Papyrus;
  font-weight: 900;
}

#task10-3 {
  background-color: rgb(158, 25, 47);
  padding: 20px 20px 20px 50px;
  /* list-style-position: outside; */
}

#task10-30 {
  background-color: pink;
  padding: 15px 0px;
  font-size: 25px;
}

#task10-31 {
  background-color: blue;
  padding: 15px 15px 15px 25px;
  /* list-style-position: inside; */
}

#task10-32 {
  background-color: #92ffff;
  margin: 8px;
  font-size: 25px;
}

table.task10-4 {
  /* border: none; */
  border-spacing: 0;
}

th.task10-40 {
  background-color: #4fae46;
  color: whitesmoke;
  font-weight: 700;
  font-size: 30px;
  padding: 8px 100px 8px 10px;
}

td.task10-41 {
  background-color: #7e7e7e;
  color: whitesmoke;
  font-size: 20px;
  padding: 5px;
}

i#mainTask {
  font-size: 35px;
  margin: 10px;
}

ul.task10-6 {
  list-style-image: url("../images/sqpurple.jpg");
}

ul.task10-70 {
  list-style-type: circle;
}

ul.task10-71 {
  list-style-type: square;
}

ul.task10-72 {
  list-style-type: decimal;
}

ul.task10-73 {
  list-style-type: upper-roman;
}

ul.task10-80 {
  list-style-position: outside;
}

li#task10-801 {
  border: solid 1px black;
  width: 100px;
}

ul.task10-81 {
  list-style-position: inside;
}

li#task10-811 {
  border: solid 1px black;
  width: 100px;
}

a.task10-90 {
  color: black;
}

a.task10-90:hover {
  color: rgb(123, 137, 123);
}

a.task10-91 {
  text-decoration: none;
  color: black;
}

a.task10-91:hover {
  text-decoration: underline;
  color: rgb(184, 198, 184);
}

a.task10-92 {
  border: solid 5px rgb(115, 123, 115);
  padding: 10px 15px;
  background-color: white;
  color: black;
  text-decoration: none;
}

a.task10-92:hover {
  background-color: green;
  color: white;
}

a.task10-93 {
  border: solid 5px rgb(111, 0, 0);
  background-color: red;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

a.task10-93:hover {
  color: rgb(219, 143, 143);
}



a.btn {
  background-color: #18255e;
  padding: 15px 20px;
  color: azure;
  border-radius: 25px;
  text-decoration-line: none;
  margin: 5px;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.btns {
  margin: 30px 10px 25px;
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------------------------------- */
/* DraftApp.html */
#divDrop {
  width: 400px;
  height: 500px;
  border: 10px solid #0454ff;
}

#divDropImg {
  width: 200px;
  height: 150px;
}

.pic1, .pic2, .pic3 {
  max-width: 400px;
  max-height: 400px;
}

.liergradian {
  height: 300px;
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, cyan, violet 90%);
  width: 85%;
  margin: auto;
  border-radius: 20px;
  border-color: antiquewhite;
  border-style: groove;
  box-shadow: 20px 20px 50px 15px grey;
}

.liergradian:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.radualgradian {
  height: 400px;
  background-image: radial-gradient(circle 300px, red, orange, yellow, green, blue, cyan, violet, white);
  width: 90%;
  margin: auto;
  border-radius: 50%;
}

.perantFloat {
  background-color: yellow;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  float: right;
  z-index: -2;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
  /* z-index: 100; */
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.floated .red {}

/* ---------------------------------------------------------------------------------- */
/* taskIndex.html */
.taskImg {
  height: 150px;
  width: 150px;
}

.taskVid {
  height: 200px;
  width: 200px;
}

/* ---------------------------------------------------------------------------------- */
/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}*/
